/**
 * Overall Section of Projects
 */
.projects {
    max-width: 350px;
    margin: auto;

    @media screen and (min-width: $smallTabletMin) {
        max-width: none;
        padding: 0 40px;
    }

    @media screen and (min-width: $tabletMin) {
        padding: 0;
    }
}

/**
 * Individual Project Boxes
 */
.project {
    display: block;
    position: relative;
    padding-bottom: 80%;
    margin-bottom: 20px;

    &:hover {
        .project__overlay {
            background-color: rgba(73, 192, 182, 0.8);
        }

        .project__text {
            opacity: 1;
        }
    }
}

/**
 * Colors for the Sites
 */
 .project--mediatrust {
   background-color: $mediatrust;
 }
.project--ross {
  background-color: $ross;
}
.project--wdcep {
   background-color: $wdcep;
}
.project--hla {
   background-color: $hla;
}
.project--nhelp {
  background-color: $nhelp;
}
.project--rediq {
   background-color: $rediq;
}
.project--patg {
   background-color: $patg;
}
.project--genomind {
   background-color: $genomind;
}
.project--next-run {
   background-color: $next-run;
}
.project--lifeline {
    background-color: $lifeline;
}

.project--chili-yoga {
    background-color: $chili-yoga;
}

.project--la-cuisine {
   background-color: $la-cuisine;
}

.project--la-kitchen {
    background-color: $la-kitchen;
}

.project--bhive {
    background-color: $bhive;
}

.project__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in 0s;
}

.project__text {
    text-transform: uppercase;
    letter-spacing: 3.11px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 28px;
    text-align: center;
    padding: 0 10px;
    color: #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in 0s;
}

.project__image {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
}
