/* -------------------------------------------------------------------------- *\
    COLORS
\* -------------------------------------------------------------------------- */
$primary: #49c0b6;
$secondary: #828282;
$secondary-light: #DCDCDC;
$white: #ffffff;
$black: #000000;
$background-color: #EEEEEE;

.primary {
  color: $primary;
}

.white {
    color: $white;
}

.secondary {
    color: $secondary;
}

.secondary-light {
    color: $secondary-light;
}

/* project colors */
$mediatrust: #f7f7f7;
$ross: #22525d;
$wdcep: #009E9A;
$next-run: #002E3E;
$lifeline: #F1F2F2;
$chili-yoga: #b92025;
$la-cuisine: #F4F4F4;
$la-kitchen: #F7323F;
$bhive: #E7EFF2;
$hla: rgba(27,27,27,.7);
$nhelp: #f3f3f3;
$rediq: #f04b4b;
$genomind: #E7EFF2;
$patg: #f3f3f3;
